<app-navbar title="购物车"></app-navbar>

<div *ngIf="isEmpty();else cartContent" class="card-panel">购物车空空</div>

<ng-template #cartContent>

  <ul class="collection">
    <li class="collection-item row" *ngFor="let line of cart.lines;index as i">
      <div class=" col s3">
        <a [routerLink]="['/product',line.product.id]">
          <img src="{{line.product.imgPrimary}}" class="z-depth-1" style="width: 5rem"/></a>
      </div>

      <div class="col s6">
        <strong>{{line.product.name}}</strong>
        <div class="badge">单价: {{line.product.price|currency:"CNY":true}}</div>
        <div>数量: {{line.quantity}}</div>
        <div>小计: {{line.product.price*line.quantity |currency:"CNY":true}}</div>
      </div>
      <div class="col s3">
        <button class="btn blue" (click)="remove(line)">删除</button>
      </div>
    </li>
  </ul>


  <div class="container right-align">
    <div>共有 <span class="red-text">{{cart.lines.length}}</span> 件商品</div>
    <div>合计:<span class="red-text">XXXX.xx</span>元</div>
  </div>


  <div style="height: 8rem;"></div>

  <footer class="footer-bottom-fixed blue center">

    <button class="btn-flat white-text" routerLink="/checkout">去结算</button>


  </footer>

</ng-template>
