<router-outlet></router-outlet>
<div style="height:8rem">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <!--<a class="navbar-brand" href="#">DDD-SHOP</a>-->
  <ul class="nav navbar-nav container">
    <li routerLinkActive="active" class="col-xs-3 col-lg-3 text-center" >
      <a routerLink="/home"><span class="glyphicon glyphicon-home"></span>
      <div>首页</div>
      </a>
    </li>
    <li routerLinkActive="active"  class="col-xs-3 col-lg-3 text-center" >
      <a routerLink="/discover"><span class="glyphicon glyphicon-heart-empty"></span> <div>发现</div></a>
    </li>

    <li routerLinkActive="active"  class="col-xs-3 col-lg-3 text-center" >
      <a routerLink="/cart" class=""><span class="glyphicon glyphicon-shopping-cart"></span> <div>购物车</div></a>
    </li>
    <li routerLinkActive="active"  class="col-xs-3 col-lg-3 text-center span4" >
      <a routerLink="/me">
        <div class="glyphicon glyphicon-user "></div>

       <div class="">我</div>
      </a></li>
  </ul>
</nav>


