<ul class="list-group row">
  <li *ngFor="let product of  _products" class="list-group-item col-xs-12 col-sm-4 col-md-3">

    <div class="thumbnail"><img src="{{product.imgPrimary}}" class="img-thumbnail col-xs-4" />

      <div class="caption">
        <h3>{{product.name}}</h3>
        <div class="badge">{{product.price|currency:"CNY":true}}</div>
        <p>{{product.description}}</p>
        <div class="text-right">
          <a [routerLink]="['/product',product.id]" class="btn btn-default">详情</a>
          <a href="" class="btn btn-default">购买</a>
        </div>
      </div>
    </div>
  </li>
</ul>
